<div class="modal slide-in-up" ng-controller="newCtrl">
   <header class="bar bar-header bar-dark">
      <button class="button button-dark icon-left ion-chevron-left" ng-click="close()">Cancel</button>
      <h1 class="title">Profile</h1>
      <button class="button button-positive" ng-click="create()">Save</button>
   </header>
   <ion-content class="padding has-header">
		<div class="list">
		  <label class="item item-input">
		    <input type="text" placeholder="Company Name" ng-model="data.companyName">
		  </label>
		  <label class="item item-input">
		    <input type="text" placeholder="Rate" ng-model="data.rate">
		  </label>
		  <label class="item item-input">
		    <input type="text" placeholder="Zipcode" ng-model="data.zipcode">
		  </label>
		  <label class="item item-input">
		    <textarea placeholder="Tags" ng-model="data.description"></textarea>
		  </label>
	      <div class="item item-divider">
	        Availability
	      </div>
	      <div class="availFields">
	        <ion-checkbox ng-model="data.isMon" class="availDay" ng-checked="data.monHours">Mo</ion-checkbox>
	        <label class="item item-input availHour">
	          <input type="text" placeholder="Hours" ng-model="data.monHours">
	        </label>
	      </div>
	      <div class="availFields">
	        <ion-checkbox ng-model="data.isTue" class="availDay" ng-checked="data.tueHours">Tu</ion-checkbox>
	        <label class="item item-input availHour">
	          <input type="text" placeholder="Hours" ng-model="data.tueHours">
	        </label>
	      </div>
	      <div class="availFields">
	        <ion-checkbox ng-model="data.isWed" class="availDay" ng-checked="data.wedHours">We</ion-checkbox>
	        <label class="item item-input availHour">
	          <input type="text" placeholder="Hours" ng-model="data.wedHours">
	        </label>
	      </div>
	      <div class="availFields">
	        <ion-checkbox ng-model="data.isThu" class="availDay" ng-checked="data.thuHours">Th</ion-checkbox>
	        <label class="item item-input availHour">
	          <input type="text" placeholder="Hours" ng-model="data.thuHours">
	        </label>
	      </div>
	      <div class="availFields">
	        <ion-checkbox ng-model="data.isFri" class="availDay" ng-checked="data.friHours">Fr</ion-checkbox>
	        <label class="item item-input availHour">
	          <input type="text" placeholder="Hours" ng-model="data.friHours">
	        </label>
	      </div>
	      <div class="availFields">
	        <ion-checkbox ng-model="data.isSat" class="availDay" ng-checked="data.satHours">Sa</ion-checkbox>
	        <label class="item item-input availHour">
	          <input type="text" placeholder="Hours" ng-model="data.satHours">
	        </label>
	      </div>
	      <div class="availFields">
	        <ion-checkbox ng-model="data.isSun" class="availDay" ng-checked="data.sunHours">Su</ion-checkbox>
	        <label class="item item-input availHour">
	          <input type="text" placeholder="Hours" ng-model="data.sunHours">
	        </label>
	      </div>
    </div>
   </ion-content>
</div>


