<ons-page ng-controller="providerViewController">
  <ons-toolbar>
    <div class="left">
      <ons-back-button>Back</ons-back-button>
    </div>
    <div class="center">Service Provider</div>
	<div class="right">
      <ons-button ng-click="myNavigator.popPage()">Edit</ons-button>
    </div>
  </ons-toolbar>

	<div style="text-align: center">
    <div class="panel-account">
      <div class="panel-pic">
        <i class="fa fa-user"></i>
      </div>
      <div class="panel-account-text">
        <div class="yourName" >&nbsp;
          {{item.yourName}}
        </div>
        <div class="companyName">&nbsp;
          {{item.companyName}}
      	</div>
        <div class="location
        ">&nbsp;
          {{item.location}}
      	</div>
      </div>
    </div>
    <div class="panel-description">
		<textarea class="textarea--transparent" rows="3" placeholder="Description"></textarea>
	</div>
	<div class="panel-specialties">
		<textarea class="textarea--transparent" rows="3" placeholder="Specialties"></textarea>
    </div>
    <div class="panel-availability">
      <div>
        <input type="text" class="text-input width-45" placeholder=" Charge" value="">
        <p class="unit-label">per</p>
        <input type="text" class="text-input width-45" placeholder="Hour" value="">
      </div>
      	<div>
        <input type="text" class="text-input  width-45" placeholder=" Miles" value="">
        <p class="unit-label">from</p>
        <input type="text" class="text-input width-45" placeholder="Zip" value="">
      	</div>

      <div>
		<label class="checkbox--noborder day-of-week">
		  <input type="checkbox">
		  <div class="checkbox__checkmark"></div>
		  S
		</label>
		<label class="checkbox--noborder day-of-week">
		  <input type="checkbox">
		  <div class="checkbox__checkmark"></div>
		  M
		</label>

		<label class="checkbox--noborder day-of-week">
		  <input type="checkbox">
		  <div class="checkbox__checkmark"></div>
		  T
		</label>

		<label class="checkbox--noborder day-of-week">
		  <input type="checkbox">
		  <div class="checkbox__checkmark"></div>
		  W
		</label>
		<label class="checkbox--noborder day-of-week">
		  <input type="checkbox">
		  <div class="checkbox__checkmark"></div>
		  T
		</label>

		<label class="checkbox--noborder day-of-week">
		  <input type="checkbox">
		  <div class="checkbox__checkmark"></div>
		  F
		</label>

		<label class="checkbox--noborder day-of-week">
		  <input type="checkbox">
		  <div class="checkbox__checkmark"></div>
		  S
		</label>
		</div>

    </div>
  </div>
  <ons-bottom-toolbar>

    <div class="center">
    	<ons-button modifier="large" ng-click="myNavigator.pushPage('customerSearchResults.html', {hoge: 'hoge'})">Find a Match</ons-button>

    </div>

  </ons-bottom-toolbar>
</ons-page>